<!--This block of code defines the bulk of the content that will be displayed on the page for a specific image-->

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">{{image.title}}</h2>
	</div>
	<div class="panel-body">
		<p>{{image.description}}</p>
		<div class="col-md-12 text-center">
			<img src="/public/upload{{image.filename}}"
			class="img-thumbnail">
		</div>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-8">
				<button class="btn btn-success" id="btn-like"
				 data-id="{{image.uniqueId}}"><i class="fa fa-
				 heart">  Like</i></button>
				<strong class="likes-count">{{image.likes}}
				</strong> &nbsp; -&nbsp; <i class="fa fa-eye">
				</i> <strong>{{image.views}}</strong>
				&nbsp; -&nbsp; Posted: <em class="text-muted">
				{{timeago image.timestamp }}</em>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<strong class="panel-title">comments</strong>
			</div>
			<div class="col-md-4 text-right">
				<button class="btn btn-default btn-sm" id="btn-
				 comment" data-id="{{image.uniqueId}}">
				 <i class="fa fa-comments-o">post comment...</i>
				</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<blockquote id="post-comment">
			<div class="row">        
                <!--/images/:image_id route-->        
				<form method="post" action="/images/{{image.uniqueId }}/
				 comment">
				 	<div class="form-group col-sm-12">
				 		<label class="col-sm-2 control-label"
				 		 for="name">name:</label>
				 		 <div class="col-sm-10">
				 		 	<input class="form-control" type="text"
				 		 	name="name"></input>
				 		 </div>
				 	</div>
				 	<div class="form-group col-sm-12">
				 		<label class="col-sm-2 control-label"
				 		 for="email">email:			
				 		</label>
				 		<div class="col-sm-10">
				 			<input class="form-control" type="text" name="email">		 				
				 			</input>
				 		</div>
				 	</div>
				 	<div class="form-group col-sm-12">
				 		<label class="col-sm-2 control-label" for="comment">
				 			comment...
				 		</label>
				 		<div class="col-sm-10">
				 			<textarea class="form-control" name="comment" rows="2">			 				
				 			</textarea>
				 		</div>
				 	</div>
				 	<div class="form-group col-sm-12">
				 		<div class="col-sm-12 text-right">
				 			<button type="submit" id="comment-btn" class="btn btn-success"
				 			 type="button">
				 				<i class="fa fa-comment"></i>post
				 			</button>
				 		</div>
				 	</div>
				</form>
			</div>
		</blockquote>
		<!--display any comments (against their timestamps) that may have been submitted for this image
		For any users who have commented, based on their email addresses, show some avatar image-->
		<ul class="media-list">
			{{#each comments}}
			<li class="media">
				<a class="pull-left" href="#">
					<img class="media-object img-circle" src="http://www.gravatar.com/avatar/
					 {{gravatar}}?d=monsterid&s=45">
				</a>
				<div class="media-body">
					{{comment}}
					<br/><strong class="media-heading">{{name}}</strong>
					 <small class="text-muted"> {{timeago timestamp}} </small>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</div>